{
  "index_patterns": ["command-history-*"],
  "settings": {
    {% if elk.mapping %}
    "number_of_shards": {{elk.mapping.shard_number}},
    "number_of_replicas": {{elk.mapping.replica_number}}
    {% else %}
    "number_of_shards": 1,
    "number_of_replicas": 1
    {% endif %}
  },
  "mappings": {
    "doc": {
      "properties": {
        "type": { "type": "keyword" },
        "source": { "type": "keyword" },
        "host": { "type": "ip" },
        "message": { "type":"text", "fields": { "keyword": { "type":"keyword" } } },
        "@log_timestamp": { "type": "date"}
      }
    }
  }
}
